body { font-family: Arial; text-align: center; }
#board { width: 320px; height: 320px; margin: auto; display: grid; grid-template: repeat(8, 1fr) / repeat(8, 1fr); }
#board div { width: 40px; height: 40px; }
